/*
 * This is an example file of styling for skrollr.
 *
 */

/* This style is required to get the initial layout correct */
div.view-id-skrollr .views-row {
  height: 1000px; /* Seta large height for the backgrounds and to create psuedo "pages" */
  width: 100%; /* Not sure that this is needed, but just in case... */
  max-width: 1920px; /*...not sure if this is required either, still playing around with it */
  position: relative; /* This makes it possible to key child elements off of this wrapper's position */
  margin: 0 auto; /* Center the wrapper in the browser */
/* -- These styles (and others like them) can create nice effects on the "page" edges
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4); 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
*/
}

/*
 * .views-skrollr-nid-[nid] - calling this class will change settings for only that "page"
 *
 * Example:
 * .views-skrollr-nid-102 {
 *   background: url([path-to-background-image]) 50% 0 no-repeat fixed;
 * }
 */